/*--------------------------------

get Web Font
Generated using nucleoapp.com

-------------------------------- */
@font-face {
  font-family: 'get';
  src: url('../fonts/get.eot');
  src: url('../fonts/get.eot') format('embedded-opentype'), url('../fonts/get.woff2') format('woff2'), url('../fonts/get.woff') format('woff'), url('../fonts/get.ttf') format('truetype'), url('../fonts/get.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
/*------------------------
	base class definition
-------------------------*/
.get-form-icons{
  font: normal normal normal 1em/1 'get';
}
.icon {
  display: inline-block;
  font: normal normal normal 1em/1 'get';
  speak: none;
  text-transform: none;
  /* Better Font Rendering */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/*------------------------
  change icon size
-------------------------*/
/* relative units */
.icon-sm {
  font-size: 0.8em;
}
.icon-lg {
  font-size: 1.2em;
}
/* absolute units */
.icon-16 {
  font-size: 16px;
}
.icon-32 {
  font-size: 32px;
}
/*----------------------------------
  add a square/circle background
-----------------------------------*/
.icon-bg-square,
.icon-bg-circle {
  padding: 0.35em;
  background-color: #eee;
}
.icon-bg-circle {
  border-radius: 50%;
}
/*------------------------------------
  use icons as list item markers
-------------------------------------*/
.icon-ul {
  padding-left: 0;
  list-style-type: none;
}
.icon-ul > li {
  display: flex;
  align-items: flex-start;
  line-height: 1.4;
}
.icon-ul > li > .icon {
  margin-right: 0.4em;
  line-height: inherit;
}
/*------------------------
  spinning icons
-------------------------*/
.icon-is-spinning {
  -webkit-animation: icon-spin 2s infinite linear;
  -moz-animation: icon-spin 2s infinite linear;
  animation: icon-spin 2s infinite linear;
}
@-webkit-keyframes icon-spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@-moz-keyframes icon-spin {
  0% {
    -moz-transform: rotate(0deg);
  }
  100% {
    -moz-transform: rotate(360deg);
  }
}
@keyframes icon-spin {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
/*------------------------
  rotated/flipped icons
-------------------------*/
.icon-rotate-90 {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}
.icon-rotate-180 {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}
.icon-rotate-270 {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
  -webkit-transform: rotate(270deg);
  -moz-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  -o-transform: rotate(270deg);
  transform: rotate(270deg);
}
.icon-flip-y {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=0);
  -webkit-transform: scale(-1, 1);
  -moz-transform: scale(-1, 1);
  -ms-transform: scale(-1, 1);
  -o-transform: scale(-1, 1);
  transform: scale(-1, 1);
}
.icon-flip-x {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
  -webkit-transform: scale(1, -1);
  -moz-transform: scale(1, -1);
  -ms-transform: scale(1, -1);
  -o-transform: scale(1, -1);
  transform: scale(1, -1);
}
/*------------------------
	icons
-------------------------*/

.icon-027-espaçoverde::before {
  content: "\ea02";
}

.icon-026-smarthome::before {
  content: "\ea03";
}

.icon-028-negócios::before {
  content: "\ea04";
}

.icon-025-tv::before {
  content: "\ea05";
}

.icon-025-economia::before {
  content: "\ea06";
}

.icon-023-accumulator::before {
  content: "\ea07";
}

.icon-020-elevator::before {
  content: "\ea08";
}

.icon-024-móvel::before {
  content: "\ea09";
}

.icon-015-running::before {
  content: "\ea0a";
}

.icon-022-smart-home::before {
  content: "\ea0b";
}

.icon-021-pool-1::before {
  content: "\ea0c";
}

.icon-017-wheelchair::before {
  content: "\ea0d";
}

.icon-019-pool::before {
  content: "\ea0e";
}

.icon-018-bath-tub::before {
  content: "\ea0f";
}

.icon-002-people::before {
  content: "\ea10";
}

.icon-016-insurance::before {
  content: "\ea11";
}

.icon-012-parking::before {
  content: "\ea12";
}

.icon-014-sport-1::before {
  content: "\ea13";
}

.icon-013-game-controller::before {
  content: "\ea14";
}

.icon-011-cyber::before {
  content: "\ea15";
}

.icon-008-workspace::before {
  content: "\ea16";
}

.icon-010-dog::before {
  content: "\ea17";
}

.icon-009-cocktail::before {
  content: "\ea18";
}

.icon-007-terrace::before {
  content: "\ea19";
}

.icon-005-planet-earth::before {
  content: "\ea1a";
}

.icon-004-transport::before {
  content: "\ea1b";
}

.icon-006-medal::before {
  content: "\ea1c";
}

.icon-003-signal::before {
  content: "\ea1d";
}

.icon-031-saladejantar::before {
  content: "\ea1e";
}

.icon-001-sport::before {
  content: "\ea1f";
}

.icon-036-lavanderia::before {
  content: "\ea20";
}

.icon-030-plantas::before {
  content: "\ea21";
}

.icon-035-cowork::before {
  content: "\ea22";
}

.icon-034-piscina1::before {
  content: "\ea23";
}

.icon-032-espaços::before {
  content: "\ea24";
}

.icon-033-proximidade::before {
  content: "\ea25";
}

.icon-029-investimento::before {
  content: "\ea26";
}

.icon-icon-print::before {
  content: "\ea27";
}

