/*--------------------------------

get Web Font
Generated using nucleoapp.com

-------------------------------- */
@font-face {
  font-family: 'get';
  src: url('../../fonts/get.eot');
  src: url('../../fonts/get.eot') format('embedded-opentype'), url('../../fonts/get.woff2') format('woff2'), url('../../fonts/get.woff') format('woff'), url('../../fonts/get.ttf') format('truetype'), url('../../fonts/get.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

/* --------------------------------

Primary style

-------------------------------- */
*, *::after, *::before {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: sans-serif;
  color: #333333;
  background: white;
}

a {
  color: #608CEE;
  text-decoration: none;
}

/* --------------------------------

Main components

-------------------------------- */
header {
  text-align: center;
  padding: 80px 0 48px;
}

header h1 {
  font-size: 2.8rem;
}

header p {
  font-size: 1.4rem;
  margin-top: 1em;
}

header a:hover {
  text-decoration: underline;
}

ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

ul li {
  border-radius: .25em;
  transition: background 0.2s;
  user-select: none;
  overflow: hidden;
  text-align: center;
  padding: 1em;
}

ul li:hover {
  background: #f8f8f8;
}

ul p, ul em, ul input {
  display: block;
  font-size: 1.1rem;
  color: rgba(0,0,0,0.6);
  -webkit-user-select: auto;
  -moz-user-select: auto;
  -ms-user-select: auto;
  user-select: auto;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
  max-width: 11rem;
}

ul p {
  padding: 10px 0;
}

ul p::selection, ul em::selection {
  background: #608CEE;
  color: #fff;
}

ul p::-moz-selection, ul em::-moz-selection {
  background: #608CEE;
  color: #fff;
}

ul em {
  margin-bottom: 8px;
}

ul em::before {
  content: '[';
}
ul em::after {
  content: ']';
}

ul input {
  text-align: center;
  background: transparent;
  border: none;
  box-shadow: none;
  outline: none;
}

/* --------------------------------

icons

-------------------------------- */
.icon {
  display: inline-block;
  font: normal normal normal 32px/1 'get';
  speak: none;
  text-transform: none;
  /* Better Font Rendering */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/*------------------------
  font icons
-------------------------*/

.icon-027-espaçoverde::before {
    content: "\ea02";
}

.icon-026-smarthome::before {
    content: "\ea03";
}

.icon-028-negócios::before {
    content: "\ea04";
}

.icon-025-tv::before {
    content: "\ea05";
}

.icon-025-economia::before {
    content: "\ea06";
}

.icon-023-accumulator::before {
    content: "\ea07";
}

.icon-020-elevator::before {
    content: "\ea08";
}

.icon-024-móvel::before {
    content: "\ea09";
}

.icon-015-running::before {
    content: "\ea0a";
}

.icon-022-smart-home::before {
    content: "\ea0b";
}

.icon-021-pool-1::before {
    content: "\ea0c";
}

.icon-017-wheelchair::before {
    content: "\ea0d";
}

.icon-019-pool::before {
    content: "\ea0e";
}

.icon-018-bath-tub::before {
    content: "\ea0f";
}

.icon-002-people::before {
    content: "\ea10";
}

.icon-016-insurance::before {
    content: "\ea11";
}

.icon-012-parking::before {
    content: "\ea12";
}

.icon-014-sport-1::before {
    content: "\ea13";
}

.icon-013-game-controller::before {
    content: "\ea14";
}

.icon-011-cyber::before {
    content: "\ea15";
}

.icon-008-workspace::before {
    content: "\ea16";
}

.icon-010-dog::before {
    content: "\ea17";
}

.icon-009-cocktail::before {
    content: "\ea18";
}

.icon-007-terrace::before {
    content: "\ea19";
}

.icon-005-planet-earth::before {
    content: "\ea1a";
}

.icon-004-transport::before {
    content: "\ea1b";
}

.icon-006-medal::before {
    content: "\ea1c";
}

.icon-003-signal::before {
    content: "\ea1d";
}

.icon-031-saladejantar::before {
    content: "\ea1e";
}

.icon-001-sport::before {
    content: "\ea1f";
}

.icon-036-lavanderia::before {
    content: "\ea20";
}

.icon-030-plantas::before {
    content: "\ea21";
}

.icon-035-cowork::before {
    content: "\ea22";
}

.icon-034-piscina1::before {
    content: "\ea23";
}

.icon-032-espaços::before {
    content: "\ea24";
}

.icon-033-proximidade::before {
    content: "\ea25";
}

.icon-029-investimento::before {
    content: "\ea26";
}

.icon-icon-print::before {
    content: "\ea27";
}

